Repository voxpupuli/puppet-openvpn, pull requests merged in 2018-12, with the labels that each got.

#317 Set DH timeout to accommodate low performance CPU
  manifests/ca.pp
Labels: enhancement

#321 consider the easyrsa version to trigger the renew crl command
  manifests/server.pp
  spec/acceptance/openvpn_spec.rb
Labels: bug

#320 modulesync 2.4.1
  .editorconfig
  .github/CONTRIBUTING.md
  .msync.yml
  .pmtignore
  .travis.yml
  Dockerfile
  Gemfile
  spec/acceptance/nodesets/centos-511-x64.yml
  spec/acceptance/nodesets/centos-6-x64.yml
  spec/acceptance/nodesets/centos-66-x64-pe.yml
  spec/acceptance/nodesets/centos-7-x64.yml
  spec/acceptance/nodesets/debian-78-x64.yml
  spec/acceptance/nodesets/debian-82-x64.yml
  spec/acceptance/nodesets/fedora-24-x64.yml
  spec/acceptance/nodesets/fedora-25-x64.yml
  spec/acceptance/nodesets/fedora-26-x64.yml
  spec/acceptance/nodesets/fedora-27-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1204-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1404-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1604-x64.yml
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync
