Repository voxpupuli/puppet-openvpn, pull requests merged in 2018-10, with the labels that each got.

#298 Update puppetlabs-stdlib dependency version in README
  README.md
Labels: docs

#302 prepare release 7.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#305 Data in Modules, Modern facts & Cleanup
  .sync.yml
  .travis.yml
  data/defaults.yaml
  data/family/Archlinux.yaml
  data/family/Debian.yaml
  data/family/FreeBSD.yaml
  data/family/RedHat.yaml
  data/family/RedHat/6.yaml
  data/family/RedHat/7.yaml
  hiera.yaml
  manifests/ca.pp
  manifests/client.pp
  manifests/client_specific_config.pp
  manifests/config.pp
  manifests/deploy/client.pp
  manifests/deploy/export.pp
  manifests/deploy/prepare.pp
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  manifests/revoke.pp
  manifests/server.pp
  manifests/service.pp
  metadata.json
  spec/classes/openvpn_init_spec.rb
  spec/classes/openvpn_install_spec.rb
  spec/defines/openvpn_client_spec.rb
  templates/server.erb
Labels: backwards-incompatible, enhancement
