Repository voxpupuli/puppet-openvpn, pull requests merged in 2018-03, with the labels that each got.

#266 Allow to define remote-cert-tls
  manifests/client.pp
  manifests/server.pp
  spec/defines/openvpn_client_spec.rb
  spec/defines/openvpn_server_spec.rb
  templates/client.erb
  templates/server.erb
Labels: enhancement

#270 Bug Fix: Ensure cipher and tls_cipher can be disabled entirely
  templates/client.erb
  templates/server.erb
Labels: bug

#268 release 7.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#273 Changed type for port in class documentation
  manifests/server.pp
Labels: docs
