Repository voxpupuli/puppet-openvpn, pull requests merged in 2018-08, with the labels that each got.

#287 modulesync 1.9.6
  .msync.yml
  Gemfile
Labels: modulesync

#275 Allow management_port to be a string; require stdlib >= 4.25.0
  manifests/server.pp
  metadata.json
Labels: enhancement

#288 release 7.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
