Repository voxpupuli/puppet-openvpn, pull requests merged in 2019-07, with the labels that each got.

#341 Only output ldap_tls_client_cert_file and ldap_tls_client_key_file when set
  manifests/server.pp
  spec/defines/openvpn_server_spec.rb
  templates/ldap.erb
Labels: bug

#235 client_specific_config: add support for ifconfig-ipv6-push
  manifests/client_specific_config.pp
  spec/defines/openvpn_client_specific_config_spec.rb
  templates/client_specific_config.erb
Labels: enhancement

#347 modulesync 2.8.0
  .github/CONTRIBUTING.md
  .msync.yml
  .travis.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync
