Repository voxpupuli/puppet-openvpn, pull requests merged in 2021-09, with the labels that each got.

#414 Add Debian 11 support
  .github/workflows/ci.yml
  data/family/Debian/11.yaml
  lib/facter/easyrsa.rb
  metadata.json
  spec/acceptance/openvpn_spec.rb
  spec/classes/openvpn_init_spec.rb
  spec/defines/openvpn_ca_spec.rb
  spec/defines/openvpn_client_spec.rb
Labels: enhancement

#411 modulesync 4.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Gemfile
Labels: modulesync

#416 Release 9.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#412 Disable compression and set cipher to AES-256-GCM by default
  .github/workflows/ci.yml
  README.md
  REFERENCE.md
  lib/facter/easyrsa.rb
  manifests/client.pp
  manifests/server.pp
  metadata.json
  spec/classes/openvpn_init_spec.rb
  spec/defines/openvpn_client_spec.rb
  spec/defines/openvpn_server_spec.rb
  templates/client.erb
  templates/server.erb
Labels: backwards-incompatible

#415 Replace ns_cert_type with remote_cert_tls (**client config regeneration needed**)
  REFERENCE.md
  manifests/client.pp
  manifests/server.pp
  spec/defines/openvpn_client_spec.rb
  spec/defines/openvpn_server_spec.rb
  templates/client.erb
  templates/server.erb
Labels: backwards-incompatible
