Repository voxpupuli/puppet-openvpn, pull requests merged in 2022-03, with the labels that each got.

#419 Allowed openvpn::ca declared in openvpn::server to set crl_days parameter
  manifests/server.pp
  spec/defines/openvpn_server_spec.rb
Labels: enhancement

#424 Remove openvpn::deploy
  REFERENCE.md
  data/defaults.yaml
  lib/puppet/functions/openvpn/file_content.rb
  manifests/deploy/client.pp
  manifests/deploy/export.pp
  manifests/deploy/install.pp
  manifests/deploy/prepare.pp
  manifests/deploy/service.pp
  spec/acceptance/openvpn_spec.rb
  spec/defines/openvpn_deploy_client_spec.rb
  spec/defines/openvpn_deploy_export_spec.rb
  spec/functions/file_content_spec.rb
Labels: backwards-incompatible

#420 modulesync 5.2.0
  .fixtures.yml
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Dockerfile
  Gemfile
  Rakefile
  lib/facter/easyrsa.rb
  manifests/ca.pp
  manifests/client.pp
  manifests/server.pp
  spec/acceptance/openvpn_spec.rb
  spec/classes/openvpn_config_spec.rb
  spec/classes/openvpn_init_hiera_spec.rb
  spec/classes/openvpn_init_spec.rb
  spec/classes/openvpn_install_spec.rb
  spec/classes/openvpn_service_spec.rb
  spec/defines/openvpn_ca_spec.rb
  spec/defines/openvpn_client_spec.rb
  spec/defines/openvpn_client_specific_config_spec.rb
  spec/defines/openvpn_revoke_spec.rb
  spec/defines/openvpn_server_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  templates/client.erb
  templates/ldap.erb
  templates/server.erb
  templates/vars-30.epp
  templates/vars.erb
Labels: modulesync

#426 Release 10.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#428 Support custom_options in client_specific_config
  REFERENCE.md
  manifests/client_specific_config.pp
  spec/defines/openvpn_client_specific_config_spec.rb
  templates/client_specific_config.erb
Labels: enhancement

#429 Add basic support for Solaris/Illumos/SmartOS
  README.md
  data/family/Solaris.yaml
  lib/facter/easyrsa.rb
  metadata.json
Labels: enhancement

#430 Release 10.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
