Repository voxpupuli/puppet-openvpn, pull requests merged in 2022-08, with the labels that each got.

#435 Add Ubuntu 22.04
  .github/workflows/ci.yml
  data/family/Debian/22.04.yaml
  lib/facter/easyrsa.rb
  metadata.json
  spec/acceptance/openvpn_spec.rb
  spec/defines/openvpn_ca_spec.rb
  spec/defines/openvpn_client_spec.rb
Labels: enhancement

#436 Make ecdh-curve optional
  REFERENCE.md
  manifests/server.pp
  templates/server.erb
Labels: backwards-incompatible

#439 modulesync 5.3.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#440 Release 10.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
