Repository voxpupuli/puppet-openvpn, pull requests merged in 2025-05, with the labels that each got.

#464 metadata.json: Add OpenVox
  metadata.json
Labels: enhancement

#475 Drop Ubuntu 20.04 support
  lib/facter/easyrsa.rb
  metadata.json
Labels: backwards-incompatible

#480 Release 11.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
